.footer {
    background-color: #f1f1f1;

    &__wrapper {
        width: 81.25vw;
        margin: 0 auto;
    }
    
    &__logo {
        display: none;
    }
}

@media (min-width: $mediaTablet) {
    .footer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            
            width: 86.97vw;
            padding: 31px 0;
            padding-bottom: 32px;
        }

        &__logo {
            display: block;

            &:hover svg {
                fill: #46c1ae;
            }

            &:active {
                opacity: 0.3;
            }
        }
    }
}

@media (min-width: $mediaDesktop) {
    .footer {
        &__wrapper {
            max-width: 1050px;
        }
    }
}