.form {
    margin: 0 30px;
    padding-bottom: 55px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    &__descr {
        padding-top: 22px;
        padding-bottom: 24px;

        font-size: 13px;
        line-height: 24px;
    }

    &__button {
        width: 100%;
    }

    &__footenote {
        margin-bottom: 32px;

        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width: $mediaTablet) {
    .form {
        margin: 0;
        
        &__descr {
            margin: 0 (calc(50px / 768px) * 100%);
            padding-top: 71px;
            padding-bottom: 7px;
    
            font-size: 17px;
            line-height: 30px;
        }

        &__footenote {
            margin-bottom: 0;
            padding-top: 8px;

            font-size: 17px;
            line-height: 30px;
        }

        &__button {
            order: -1;
            width: 230px;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            
            min-width: 668px;
            max-width: 700px;
            margin: 0 auto;
            padding: 0 calc(50px / 768px) * 100%;
            padding-top: 4px;
        }
    }
}

@media (min-width: $mediaDesktop) {
    .form {
        padding-bottom: 50px;

        &__descr {
            max-width: 1050px;
            margin: 0 auto;
            padding-top: 120px;
        }

        &__footer {
            margin: 0 auto;
        }
    }
}