.order {
    margin: 0 30px;
    padding-bottom: 55px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    &__descr {
        padding-top: 22px;
        padding-bottom: 24px;

        font-size: 13px;
        line-height: 24px;
    }

    &__button {
        width: 100%;
    }
}

@media (min-width: $tablet768) {
    .order {
        margin: 0;
        
        &__descr {
            margin: 0 50px;
            padding-top: 71px;
            padding-bottom: 7px;
    
            font-size: 17px;
            line-height: 30px;
        }
    }
}

@media (min-width: $desktop) {
    .order {
        &__descr {
            margin: 0 275px;
            padding-top: 120px;
            padding-bottom: 34px;
        }
    }
}