.promo {
    background-image: url('../images/hero-mobile.webp');
    background-position: center -18px;
    background-repeat: no-repeat;
    background-color: #f9f9f9;

    &__wrapper {
        width: 100%;

        font-family: 'Open Sans', Arial, sans-serif;
    }

    .header__title {
        margin-bottom: 46px;

        text-align: center;
        font-size: 27px;
        line-height: 30px;
    }

    &__list {
        max-width: $centererMobile;
        margin: 0 auto;
    }

    &__item:hover {
        margin-top: -5px;
        padding-bottom: 5px;
    }

    &__item--interior {
        background-color: #63d1bb;
    }

    &__item--toys {
        background-color: #56c3b2;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        padding: 21px 8.75%;

        // padding: 21px 28px;
        padding-bottom: 20px;

        font-size: 19px;
        line-height: 24px;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    &__link span {
        width: 130px;
        padding-top: 4px;
    }

    &__link svg {
        fill: #149080;
        opacity: 0.5;
    }

    &__link:hover svg{
        opacity: 0.7;
    }

    &__link:active svg,
    &__link:active span {
        opacity: 0.3;
    }

    &__interior-icon {
        margin-right: 8px;
    }

    &__toys-icon {
        margin-bottom: 2px;
    }
}

@media (min-width: $mediaTablet) {
    .promo {
        position: relative;

        background-image: url('../images/hero-desktop.webp');
        background-position: center 0;

        &__wrapper {
            // width: auto;
            // max-width: none;
            // margin: 0;
            width: auto;
            max-width: 1050px;
            margin: 0 auto;
            padding: 0 (calc(50px / 768px) * 100%);
            padding-top: 152px;
        }

        & .header__title {
            width: 500px;
            margin: 0 auto;
            margin-bottom: 374px;
            padding: 0;

            font-size: 43px;
            line-height: 50px;

            & p {
                display: inline-block;
            }
        }
        
        &__list {
            display: flex;
            max-width: $centererTablet;

            // margin: 0 6.51%;
            // margin: 0 50px;
        }

        &__item {
            width: 50%;
        }

        &__link {
            padding-top: 23px;
            padding-bottom: 27px;
            padding-left: 35px;

            font-size: 20px;
            line-height: 30px;
        }

        &__interior-icon {
            margin-top: 7px;
        }
    
        &__toys-icon {
            margin-top: 8px;
            margin-right: 6px;
            margin-bottom: 0;
        }

        &::after {
            content: "";

            position: absolute;
            left: 0;
            bottom: 0;

            display: block;
            width: 100%;
            height: 15px;

            background:
                radial-gradient(11px at 50% 15px, rgb(255 255 255 / 100%) 100%, transparent 105%) calc(50% - 19px) 0/38.5px 100%,
                radial-gradient(13px at 50% -6px, transparent 108%, rgb(255 255 255 / 100%) 100%) 50% 6px/38.5px 100% repeat-x
            ;
        }
    }
}

@media (min-width: $mediaDesktop) {
    .promo {
        &__wrapper {
            padding-left: 8%;
            padding-right: 8%;
        }

        .header__title {
            width: 620px;
            margin-bottom: 360px;

            font-size: 53px;
            line-height: 57px;
        }

        &__list {
            width: $centererTablet;
            margin: 0 auto;
        }

        &::after {
            content: "";

            position: absolute;
            bottom: 0;

            display: block;
            width: 100%;
            height: 20px;

            background:
                radial-gradient(21px at 50% 102%, rgb(255 255 255 / 100%) 100%, transparent 100%) calc(50% - 31.5px) 0/63px 100%,
                radial-gradient(21px at 50% -10.5px, transparent 100%, rgb(255 255 255 / 100%) 100%) 50% 4px/63px 100% repeat-x
            ;
        }
    }
}