.video {
    padding: 0 calc(30px / 320px) * 100%;
    padding-top: 30px;
    padding-bottom: 58px;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    &__wrapper {
        box-sizing: border-box;
        min-width: 260px;
        padding-top: 23px;
        padding-bottom: 32px;

        border: 1px solid #ececec;

        &:hover {
            box-shadow: 0 8px 14px 2px #e8e8e8;
        }

        &:active {
            box-shadow: 0 3px 6px 1px #e8e8e8;
        }

        &:hover &__title,
        &:hover &__text {
            opacity: 0.6;
        }
    }


    &__title {
        position: relative;

        padding-left: 89px;
        margin-bottom: 25px;

        font-size: 17px;
        line-height: 24px;

        &::before {
            content: "";

            position: absolute;
            top: calc(50% - 12px);
            left: 33px;

            width: 32px;
            height: 22px;

            background-image: url('../images/svg/camera.svg');
        }
    }

    &__inner {
        position: relative;

        margin-bottom: 27px;

        &::before {
            content: "";

            position: absolute;
            top: calc(50% - 40px);
            left: calc(50% - 50px);

            width: 101px;
            height: 77px;

            background-image: url('../images/svg/play.svg');
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }

        &:hover::before {
            top: calc(50% - 40px);
            left: calc(50% - 60px);

            width: calc(101px * 1.2);
            height: calc(77px * 1.2);
        }

        &:active::before {
            top: calc(50% - 40px);
            left: calc(50% - 50px);

            width: 101px;
            height: 77px;

            // filter: opacity(0.3);
        }
    }

    &__player { 
        display: block;
        width: 100%;
        height: auto;
        margin-left: -1px;
    }

    &__column-right {
        padding: 0 33px;
    }

    &__text {
        margin-bottom: 25px;

        font-size: 13px;
        line-height: 24px;
    }

    &__button {
        width: 100%;
    }
}

@media (min-width: $mediaTablet) {
    .video {
        padding: 0 (calc(50px / 768px) * 100%);
        padding-top: 53px;
        padding-bottom: 58px;

        &__wrapper {
            display: flex;
            flex-direction: column;

            max-width: 1050px;
            margin: 0 auto;
            padding-top: 0;
            padding-bottom: 45px;
        }

        &__title {
            padding-left: 105px;
            margin-bottom: 34px;

            font-size: 20px;
            line-height: 24px;
            
            &::before {
                // top: 1px;
                left: 41px;
            }
        }

        &__inner {
            order: -1;
            margin-bottom: 36px;
        }

        &__column-right {
            padding: 0 40px
        }

        &__player {
            width: 668px;
            height: 455px;
            margin: 0 auto;
        }

        &__text {
            margin-bottom: 35px;

            font-size: 15px;
            line-height: 30px;
        }
    }
}

@media (min-width: $mediaDesktop) {
    .video {
        padding-top: 55px;
        padding-bottom: 58px;

        &__wrapper {
            position: relative;
            flex-direction: row;

            padding-bottom: 0;
        }

        &__title {
            position: absolute;
            top: 47px;
            right: calc(50% - 382px);

            padding: 0;
            padding-top: 48px;

            & span {
                display: block;
            }

            &::before {
                top: 0;
                left: 3px;
            }
        }

        &__inner {
            margin-bottom: 0;
        }

        &__player {
            width: 682px;
            height: 455px;
        }

        &__column-right {
            padding-top: 177px;
            padding-left: 80px;
            padding-right: 57px;
        }
        
        &__text {
            margin-bottom: 46px;
        }
    }
}