@import "./global";
@import "./mixins";
@import "./stylization-helper";
@import "./block/copyright";
@import "./block/featured";
@import "./block/contacts";
@import "./block/aboutus";
@import "./block/socials";
@import "./block/footer";
@import "./block/review";
@import "./block/slider";
@import "./block/header";
@import "./block/promo";
@import "./block/video";
@import "./block/cards";
@import "./block/field";
@import "./block/modal";
@import "./block/menu";
@import "./block/form";


@font-face {
    font-family: 'Myriad Pro';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('./../fonts/MYRIADPRO-REGULAR.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('./../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: bold;
    font-display: swap;
    src: url('./../fonts/OpenSans-Bold.woff2') format('woff2');
}