@import "./global.scss";
@import "./mixins.scss";
@import "./stylization-helper.scss";

@import "./block/copyright.scss";
@import "./block/featured.scss";
@import "./block/contacts.scss";
@import "./block/aboutus.scss";
@import "./block/socials.scss";
@import "./block/footer.scss";
@import "./block/review.scss";
@import "./block/slider.scss";
@import "./block/header.scss";
@import "./block/promo.scss";
@import "./block/video.scss";
@import "./block/cards.scss";
@import "./block/field.scss";
@import "./block/modal.scss";
@import "./block/menu.scss";
@import "./block/form.scss";


@font-face {
    font-family: 'Myriad Pro';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('./../fonts/MYRIADPRO-REGULAR.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('./../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('./../fonts/OpenSans-Bold.woff2') format('woff2');
}